<html>
<head>
    <title><%= page_title ? page_title : 'aerogel' %></title>
</head>
<body>

<%= yield %>


<p style="font: 9pt; font-style: italic; color: gray">
This is default aerogel layout defined here: <%= __FILE__ %>
</p>

</body>
</html>